.cardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.error-text{
    width: 100%;
    color: brown;
}

.select-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.price-tag{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
}

.small{
    font-size: small;
}

.bold{
    font-weight: bold;
}