.app-list-top-container {
  display: flex;
  justify-content: space-between;
}

#create-button {
  color: gray;
  text-decoration: none;
  text-transform: none;
  background-color: white;
  height: 50%;
  text-align: center;
}

.app-list-row:hover {
  color: red;
}

.hidden {
  display: none;
}

.MuiTableCell-root.MuiTableCell-body {
  background-color: white !important;
  color: black !important;
}

.MuiTableCell-root.MuiTableCell-body a {
  background-color: white !important;
  color: black !important;
}

.button-unset {
  text-transform: unset;
}
