body {
  background-image: url("./../image/landing-base.png");
  background-size: cover;
  font-family: Roboto;
}

.banner {
  padding-top: 10%;
  padding-left: 10%;
}

.line-one {
  font-weight: bold;
  font-size: 10rem;
  color: aliceblue;
}

.line-two {
  font-weight: 200;
  font-size: 4rem;
  padding-left: 10px;
  color: aliceblue;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 2%;
}

.space-padder {
  margin-right: 2%;
  /* padding-right: 40%; */
}

.icon-space {
  padding: 0 10px;
}

.connect-space {
  padding-right: 5px;
}

#connect-button {
  color: white;
  background-color: black;
  height: 2.4rem;
  border-radius: 0.5rem;
  text-transform: unset;
  font-weight: 300;
  font-size: 1rem;
}
