.productCard {
  width: 330px;
  height: 330px;
  background-color: black;
  border-radius: 20px 20px 10px 10px;
  transition: transform 0.5s, box-shadow 1s;
}

.productCard:hover {
  transform: scale(1.02) perspective(0px);
  box-shadow: 0 10px 10px rgba(255, 0, 0, 0.7);
}

.cards-holder {
  display: flex;
}

.add-new-product {
  display: block;
  margin: 3rem;
  padding: 2rem;
}

.MuiCardContent-root {
  padding: 0;
}
